.home-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.vertical-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.word-preview {
  padding: 20px;
  background-color: #ffbb01;
}

.inspo-box {
  background-color: #2559c6;
  padding: 20px 50px;
}

.inspo-art {
  width: auto;
  max-width: 250px;
  max-height: 300px;
}

.inspo-quote {
  max-width: 200px;
  word-wrap: break-word;
}

.quote {
  font-size: larger;
}

.author {
  font-style: italic;
}

.btn {
  display: inline-block;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  background: none;
  font-family: inherit;
  color: white;
}

.fit-content {
  max-width: 500px;
  margin: 0px auto 0px auto;
}

body {
  margin: 0px;
  background-color: #8b5af8;
  padding-top: 10px;
  color: white;
}

header {
  display: flex;
  gap: 50px;
}

nav {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

footer {
  margin-top: 30px;
  text-align: center;
}

h1 {
  color: #ffbb01;
}

h2 {
 display: inline;
}

h4 {
  display: inline;
  color: #fe67b8;
}
