#inspo-art {
  max-width: 250px;
}

#inspo-box {
  max-width: 500px;
  display: grid;
  grid-template-rows: 0.25fr 1fr;
  grid-template-columns: 0.5fr 1fr;
  grid-template-areas:
    "title title"
    "art quote";
}

#inspo-box > h2 {
  grid-area: title;
}

.inspo-art {
  grid-area: art;
}

.inspo-quote {
  grid-area: quote;
  padding: 20px;
}

.btn {
  display: inline-block;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  background: none;
  font-family: inherit;
  color: white;
}

body {
  max-width: max-content;
  margin: auto;
  background-color: #8b5af8;
  padding-top: 10px;
  color: white;
}

h1 {
  color: #ffbb01;
}

header {
  display: flex;
  gap: 50px;
}

nav {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
}
